-
  const footerNavigation = [
    [
      {
        href: '#',
        name: 'Our pricing',
        isOpenPopup: '_popup-pricing',
        goto: 'false'
      },
      {
        href: '#',
        name: 'How it works',
        isOpenPopup: 'false',
        goto: '.steps'
      },
      {
        href: '#',
        name: 'Find the best technician in your area',
        isOpenPopup: 'false',
        goto: '.feedback'
      },
    ],
    [
      {
        href: '#',
        name: 'Contacts',
        isOpenPopup: 'false',
        goto: '.footer'
      },
      {
        href: '#',
        name: 'Privacy Policy',
        isOpenPopup: 'false',
        goto: 'false'
      },
      {
        href: '#',
        name: 'Terms and Conditions',
        isOpenPopup: 'false',
        goto: 'false'
      },
    ],
  ];

footer.footer
  ._container
    .footer__wrapper
      .footer-main
        .footer-main__item
          p.footer-main__title Contacts

          ul.footer-contacts
            li
              a.footer-contacts__item(href='tel:+4917656953558')
                span.footer-contacts__label
                  img(
                    src=require('@/assets/img/contacts/telephone.svg'),
                    alt='telephone'
                  )

                span.footer-contacts__text +49 176 56953558

            li
              a.footer-contacts__item(href='mailto:example@gmail.com')
                span.footer-contacts__label
                  img(
                    src=require('@/assets/img/contacts/mail.svg'),
                    alt='mail'
                  )

                span.footer-contacts__text example@gmail.com

        .footer-main__item
          p.footer-main__title Menu

          nav.footer-navigation
            ul.footer-navigation__list
              each column in footerNavigation
                li.footer-navigation__li
                  ul.footer-navigation__col
                    each item in column
                      li.footer-navigation__row
                        if item.isOpenPopup === 'false'
                          a.footer-navigation__item(
                            class=`${item.goto !== 'false' ? 'anchor' : ''}`,
                            href=`${item.href}`,
                            data-goto=`${item.goto}`
                          ) #{ item.name }
                        else
                          button.footer-navigation__item.popup-open(
                            data-popup=`${item.isOpenPopup}`
                          ) #{ item.name }

        .footer-main__item
          p.footer-main__title Recording

          a.button-light.footer-main__button(href='#')
            span Book an appointment for service

      .footer-bottom
        .footer-bottom__item
          p.footer__copyright © 2023 Copyright 2023 SHAHDAGFIX. All Rights Reserved.

        .footer-bottom__item
          a.develop(
            href='https://impulse-design.com.ua/',
            target='_blank',
            rel='noreferrer'
          )
            span.develop__text Developed By

            span.develop__img
              img(src=require('@/assets/img/impulse.svg'), alt='impulse')
